@import "../style";

/* For mobile phones: */
[class*="col-"]{
    width: 100%;
}

h2{
    margin-left: 15%;
    margin-right: 15%;
}

p {
    font-weight: bolder; 
}

div.item {
    width: 85%
}

div.sub_item {
    margin: 20px 10px;
    width: 120px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    // background-color: grey;
}

h2{
    margin: 10px;
}

.resume {
    margin-top: 60px;
}

.resume a{
    font-size: 40px;
}

.resume a:link{
    font-size: 40px;
}

.resume a:hover{
    font-size: 40px;
}

.resume a:active{
    font-size: 40x;
}

.resume a:visited{
    font-size: 40px;
}

.skill_icon{
    font-size: 450%;
}

/* Tablets: */
@media only screen and (min-width: 600px) {
    div.item {
        margin: 30px 30px;
        vertical-align: center;
    }
}

/* iPad/Desktop: */
@media only screen and (min-width: 768px) {

}

/* Wide Desktop: */
@media only screen and (min-width: 1000px) {

    div.item {
        margin: 60px 1% 0;
        width: 30%
    }

    // footer{
    //     position: fixed;
    //     left: 50%;
    //     bottom: 1%;
    //     transform: translate(-50%, -50%);
    // }
}