@import "../style";

content{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: 55px;
    text-align: center;
}

h2{    
    font-size: 25px;
    text-align: center;
}

footer{
    position: fixed;
    left: 50%;
    bottom: 1%;
    transform: translate(-50%, -50%);
}

/* Tablets: */
@media only screen and (min-width: 600px) {

}

/* iPad/Desktop: */
@media only screen and (min-width: 768px) {

}

/* Wide Desktop: */
@media only screen and (min-width: 1000px) {

}