@import "../style";

content{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: 55px;
    text-align: center;
}

h2{    
    font-size: 25px;
    text-align: center;
}

footer{
    position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    // @include flex_center();
}

/* Media queries for responsive design */

/* For mobile phones: */
[class*="col-"]{
    width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 600px) {

}

    /* For desktop: */
@media only screen and (min-width: 768px) {

}