
$red: rgb(146, 33, 33);
$yellow: rgb(255, 208, 0);
$whitish: rgb(236, 236, 236);
$blackish: rgb(10, 10, 10);

$text: $whitish;
$text_hover: $red;

$header_text: $whitish;
$header_text_hover: $red;

#smoke_left { color: $red; }
#smoke_right { color: $red; }

//General
html {
    color: $text;
    min-height: 100%;
    background-size: cover;
    background-color: $blackish;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    color: $red;
}

// Header
header{
    color: $header_text;
    background-color: $blackish;
}

footer{
    color: $text;
}

.navigation a{ color: $header_text; }
.navigation a:link { color:$header_text; }
.navigation a:visited { color: $header_text; }
.navigation a:hover { color: $header_text_hover; }
.navigation a:active { color: $header_text_hover; }

.resume a{ color: $yellow; }
.resume a:link { color:$yellow; }
.resume a:visited { color: $yellow; }
.resume a:hover { color: $text_hover; }
.resume a:active { color: $yellow; }

.social_icons { color: $yellow; }
.social_icons a{ color: $yellow; }
.social_icons a:link{ color:$yellow; }
.social_icons a:visited{ color: $yellow; }
.social_icons a:hover { color: $text_hover; }
.social_icons a:active { color: $yellow; }


//Blog
.post_head{
    color: $whitish;
    background-color: $red;
}
.post_body{
    color: white;
}