
header {
    // height: 5%;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 3%;
    padding: 13px;
    transform: translate(-50%, -50%);
    font-size: 15.5px;
}

.navigation a{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.navigation a:link{
    text-decoration: none;
}

.navigation a:visited{
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: none;
}

.navigation a:active {
    text-decoration: none;
}