@import "../style";


/* Add a card effect for articles */
div .post {
    // background-color: grey;
    padding: 20px;
    margin: 50px;
}

div.post_head{
    padding: 18px 5px;
    background-color: rgb(236, 236, 236);
    margin: 50px 0 10px;
    vertical-align: middle;
    table-layout: fixed;

    font-size: x-large;
}

.title{
    float: left;
    text-align: left;
    vertical-align: middle;
    line-height: 0; 
}

.date{
    float: right;
    text-align: right;
    vertical-align: middle;
    line-height: 0;
}

img{
    background-color:  rgb(236, 236, 236);
}

.post_body{
    padding: 5px 2px;
    margin: 10px 0;
    width: 100%;    
    background-color:  rgb(236, 236, 236);
}

.paragraph{
    vertical-align: middle;
    margin: 5px 5px;
}

/* Media queries for responsive design */

/* Mobiles: */
[class*="col-"]{
    width: 100%;
}

/* Tablets: */
@media only screen and (min-width: 600px) {
    .post_head{
        vertical-align: top;
        display: inline-block;
        width: 70%;
    }

    .fake_img{
        vertical-align: top;
        display: inline-block;
        width: 67%;
    }

    .post_body{
        vertical-align: top;
        display: inline-block;
        width: 70%;
    }
}

/* iPad/Desktop: */
@media only screen and (min-width: 768px) {

}