@import "../style";

p{
    margin: 10px 10px;
    text-align: left;
}

.paragraph{
    margin:0 0 50px
}


/* Mobile Phones: */
[class*="col-"]{
    width: 100%;
}

/* Tablets: */
@media only screen and (min-width: 600px) {

}

    /* Desktop: */
@media only screen and (min-width: 768px) {

}