@import "../style";

div.item {
    width: 320px;
}

img {
    width: 300px;
    height: 300px;
}

.caption {
    font-size: 16px;
    margin: 3px 6% 30px;
    text-align: left;
}

.paragraph{
    margin:0 0 50px
}

/* Mobile: */
[class*="col-"]{
    width: 100%;
}

/* Tablet: */
@media only screen and (min-width: 600px) {
    div.item {
        width: 620px;
    }

    img {
        width: 500px;
        height: 500px;
        margin: 5px;
    }

    .caption {
        margin: 6px 12% 40px;
        text-align: left;
        font-size: 150%;
    }
}

/* iPad/Desktop: */
@media only screen and (min-width: 768px) {
    h2{
        font-size: 200%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

/* Wide Desktop: */
@media only screen and (min-width: 1000px) {
    .fake_img{
        padding: 200px;
        margin: 0 100px;
    }

    div.item {
        margin: 40px 3%;
    }
    
    // footer{
    //     position: fixed;
    //     left: 50%;
    //     bottom: 1%;
    //     transform: translate(-50%, -50%);
    // }
}