@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
header {
  width: 100%;
  position: fixed;
  left: 50%;
  top: 3%;
  padding: 13px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15.5px;
}

.navigation a {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.navigation a:link {
  text-decoration: none;
}

.navigation a:visited {
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: none;
}

.navigation a:active {
  text-decoration: none;
}

footer {
  margin: 80px 0 50px 0;
}

.email {
  font-size: 20px;
  text-align: center;
}

.social_icons a {
  margin-top: 10px 0 0 0;
  font-size: 40px;
  text-align: center;
}

.social_icons a:link {
  text-decoration: none;
}

.social_icons a:visited {
  text-decoration: none;
}

.social_icons a:hover {
  text-decoration: none;
}

.social_icons a:active {
  text-decoration: none;
}

.social_icons i {
  margin-top: 10px 0 0 0;
  font-size: 40px;
  text-align: center;
}

.social_icons a:link i {
  text-decoration: none;
}

.social_icons a:visited {
  text-decoration: none;
}

.social_icons a:hover {
  text-decoration: none;
}

.social_icons a:active {
  text-decoration: none;
}

html {
  color: #383838;
  min-height: 100%;
  background-size: cover;
  background-color: #cf4345;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #cf4345), to(#17ca8e));
  background: linear-gradient(to bottom, #cf4345 30%, #17ca8e 100%);
  background-attachment: fixed;
}

h1 {
  color: #ecb97e;
}

header {
  color: #ecb97e;
  background-color: #216492;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #cf4345), to(rgba(100, 86, 86, 0)));
  background: linear-gradient(to bottom, #cf4345 80%, rgba(100, 86, 86, 0) 100%);
}

footer {
  color: #383838;
}

#smoke_left {
  color: #216492;
}

#smoke_right {
  color: #216492;
}

.navigation a {
  color: #ecb97e;
}

.navigation a:link {
  color: #ecb97e;
}

.navigation a:visited {
  color: #ecb97e;
}

.navigation a:hover {
  color: #216492;
}

.navigation a:active {
  color: #216492;
}

.social_icons {
  color: #216492;
}

.social_icons a {
  color: #216492;
}

.social_icons a:link {
  color: #216492;
}

.social_icons a:visited {
  color: #216492;
}

.social_icons a:hover {
  color: #cf4345;
}

.social_icons a:active {
  color: #cf4345;
}

.resume a {
  color: #17ca8e;
}

.resume a:link {
  color: #17ca8e;
}

.resume a:visited {
  color: #17ca8e;
}

.resume a:hover {
  color: #216492;
}

.resume a:active {
  color: #216492;
}

.post_head {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(2%, #17ca8e), color-stop(98%, #17ca8e), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #17ca8e 2%, #17ca8e 98%, rgba(0, 0, 0, 0) 100%);
}

.post_body {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(3%, #17ca8e), color-stop(97%, #17ca8e), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #17ca8e 3%, #17ca8e 97%, rgba(0, 0, 0, 0) 100%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  margin: 60px 0 5px 0;
  font-size: 55px;
  text-align: center;
  font-weight: bolder;
}

h2 {
  margin: 10px 10%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  text-align: center;
}

.container {
  width: 100%;
}

div.item {
  vertical-align: top;
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
}

div.sub_item {
  vertical-align: top;
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
}

.caption {
  margin-top: 10px;
  display: block;
}

.paragraph {
  margin: 20px 2%;
}

.fake_img {
  vertical-align: top;
  display: inline-block;
  padding: 130px 130px;
  margin: 5px;
}

/* Mobile: */
[class*="col-"] {
  width: 100%;
}

/* Tablets: */
@media only screen and (min-width: 600px) {
  header {
    font-size: 120%;
  }
  h1 {
    margin: 100px 0 0 0;
  }
  h2 {
    font-size: 200%;
  }
  .caption {
    margin-top: 10px;
    display: block;
  }
}

/* iPad/Desktop: */
@media only screen and (min-width: 768px) {
  header {
    font-size: 150%;
  }
  footer {
    font-size: 150%;
  }
  h1 {
    margin: 80px 0 0 0;
  }
  p {
    font-size: 120%;
  }
  body {
    margin: 0 2%;
  }
  div.item {
    width: 400px;
    vertical-align: center;
  }
  .paragraph {
    margin: 20px 10% 0;
  }
  .email {
    margin: 0;
  }
  .social_icons {
    margin: 0;
  }
  .fake_img {
    vertical-align: top;
    display: inline-block;
    background-color: #b9b9b9;
    padding: 100px 100px;
    margin-top: 5px;
  }
}

/* Wide Desktop: */
@media only screen and (min-width: 1000px) {
  header {
    font-size: 200%;
  }
  footer {
    font-size: 200%;
  }
  .paragraph {
    margin: 20px 20% 0;
  }
}

img {
  margin: 3% 0 0;
  width: 85%;
  border-radius: 50%;
  display: inline-block;
  background-color: grey;
}

/* Tablets: */
@media only screen and (min-width: 600px) {
  img {
    margin: 2% 0 1%;
    width: 400px;
  }
}

/* iPad/Desktop: */
/* Wide Desktop: */
/*# sourceMappingURL=about_me.css.map */