@import "../style";

// content{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }

// p{
//     font-size: 4px;
// }

/* Add a card effect for articles */
.post {
    // background-color: grey;
    padding: 20px;
    margin: 20px 0 40px 0;
    // margin-top: 50px;
    // margin-bottom: 70px;
    width: 100%;
}

.post_head{
    padding: 18px;
    margin: 1% 0 1%;
    vertical-align: middle;
    table-layout: fixed;
    width: 100%;
}

.title{
    float: left;
    text-align: left;
    vertical-align: middle;
    line-height: 0; 
    margin-left: 5px;
}

.date{
    float: right;
    text-align: right;
    vertical-align: middle;
    line-height: 0;
    margin-right: 5px;
}


img {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    margin: 0;
    border-radius: 10%;
}

.post_body{
    padding: 5px 2px;
    margin: 10px 0;
    width: 100%;    
    text-align: left;
    // border-radius: 5%;
}

.paragraph{
    vertical-align: middle;
    margin: 5px 10px;
}

/* Tablets: */
@media only screen and (min-width: 600px) {

}

/* iPad/Desktop: */
@media only screen and (min-width: 768px) {

    // .post_head{
    //     vertical-align: top;
    //     display: inline-block;
    //     width: 1000px;
    // }

    // img{
    //     vertical-align: top;
    //     display: inline-block;
    //     width: 98%;
    // }

    // .post_body{
    //     vertical-align: top;
    //     display: inline-block;
    //     width: 100%;
    // }
    .post{ margin: 50px 0 70px 0; }
    

    .paragraph{
        vertical-align: middle;
        margin: 5px 30px;
        width: 92%;
    }
}

/* Wide Desktop: */
@media only screen and (min-width: 1000px) {
    content{
        display: flex;
        flex-direction: column;
    }

    .post_head{
        vertical-align: top;
        display: inline-block;
        width: 80%;
    }

    img{
        vertical-align: top;
        display: inline-block;
        width: 80%;
    }

    .post_body{
        vertical-align: top;
        display: inline-block;
        width: 80%;
    }

    .paragraph{
        margin: 5px 30px;
    }
}