
$colour01: rgb(33, 100, 146);
$colour02: rgb(234, 92, 94);
$colour03: rgb(41, 160, 164);
$colour04: rgb(82, 73, 72);
$colour05: rgb(87, 70, 123);

$header_text: $text;
$header_text_hover: $colour04;

$text: rgb(54, 50, 50);
$text_hover: rgb(82, 73, 72);

#smoke_left { color: $colour02; }
#smoke_right { color: $colour02; }
// Header
header{
    color: $text;
    background-color: $colour02;
    background: linear-gradient(to bottom, $colour02 80%, rgba(0,0,0,0) 100%);
}

.navigation a{ color: $header_text; }
.navigation a:link { color:$header_text; }
.navigation a:visited { color: $header_text; }
.navigation a:hover { color: $header_text_hover; }
.navigation a:active { color: $header_text_hover; }

.resume a{ color: $text; }
.resume a:link { color:$text; }
.resume a:visited { color: $text; }
.resume a:hover { color: $text_hover; }
.resume a:active { color: $text_hover; }

//General
html {
    color: $text;
    // color: linear-gradient(to bottom, black 10%, white 100%);
    min-height: 100%;
    background-size: cover;
    background-color: $colour03;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, $colour02 10%, $colour03 60%, $colour01 100%);
    background-attachment: fixed;
}

//Blog
.post_head{
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, $colour01 3%, $colour01 97%, rgba(0,0,0,0) 100%);
    color: $colour02; background-color: $colour01;
}
.post_body{
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, $colour02 3%, $colour02 97%, rgba(0,0,0,0) 100%);
    // color: white; background-color: $colour02; 
}
