$experiment: rgb(236, 185, 126);

$tan1:rgb(236, 185, 126);
$tan2:rgb(255, 233, 177);

$blue1: rgb(93, 219, 236);
$blue2: rgb(56, 132, 194);

$red1: rgb(146, 56, 33);
$red2: rgb(214, 102, 74);
$red3: rgb(136, 32, 6);

$purple1: rgb(146, 102, 243);
$purple2: rgb(91, 47, 185);

$blackish: rgb(10, 10, 10);

$colour01: $red1;
$colour02: $tan1;
$colour03: $blue2;

$text: $blackish;
$text_hover: $colour03;

$header_text: $red3;
$header_text_hover: $text_hover;

//General
html {
    color: $text;
    // color: linear-gradient(to bottom, black 10%, white 100%);
    min-height: 100%;
    background-size: cover;
    background-color: $colour03;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, $tan1 30%, $red2 100%);
    // background: linear-gradient(to bottom, $colour02 50%, $purple1 100%);
    // background: linear-gradient(to bottom, $colour02 30%, $blue1 100%);
    background-attachment: fixed;
}

// Header
header{
    color: $text;
    background-color: $colour02;
    background: linear-gradient(to bottom, $colour02 80%, rgba(100, 86, 86, 0) 100%);
}

h1{ color: $header_text; }

footer{
    color: $text;
}

//Blog
.post_head{
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, $colour01 3%, $colour01 97%, rgba(0,0,0,0) 100%);
    color: $colour02; background-color: $colour01;
}
.post_body{
    color: $blackish;
    // background: linear-gradient(to right, rgba(0,0,0,0) 0%, $colour02 3%, $colour02 97%, rgba(0,0,0,0) 100%);
    // color: white; background-color: $colour02; 
}


#smoke_left { color: $colour02; }
#smoke_right { color: $colour02; }


.navigation a{ color: $header_text; }
.navigation a:link { color:$header_text; }
.navigation a:visited { color: $header_text; }
.navigation a:hover { color: $header_text_hover; }
.navigation a:active { color: $header_text_hover; }

.resume a{ color: $text; }
.resume a:link { color:$text; }
.resume a:visited { color: $text; }
.resume a:hover { color: $text_hover; }
.resume a:active { color: $text_hover; }

.social_icons { color: $text; }
.social_icons a{ color: $text; }
.social_icons a:link{ color:$text; }
.social_icons a:visited{ color: $text; }
.social_icons a:hover { color: $text_hover; }
.social_icons a:active { color: $text_hover; }
