@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin: 120px 0 20px 0;
}

.email {
    font-size: 15px;
    text-align: center; 
}

div .social_icons {
    margin: 10px 0 0 0;
    font-size: 40px;
    text-align: center;
}