@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    // @include flex_center();
}

.email {
    font-size: 15px;
    text-align: center; 
}

.icons {
    // font-size: 15px;
    // text-align: center; 
    @include flex_center();
}