@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /* font importer */

/* apply margin and padding 0 to all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
}

/* i need to do zombies flexbox game to understand this */
.row {  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#footer{
    font-size: 10px;
    margin: 35% auto 0 auto;
    text-align: center;
}

.title{
    text-align: center;
}


/* Media queries for responsive design */

/* For mobile phones: */
[class*="col-"]{
    width: 100%;
}