@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /* font importer */

/* apply margin and padding 0 to all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

/* i need to do zombies flexbox game to understand this */
.row {  
    display: flex;
    flex-direction: row;
    // justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    // width: 75%;
}