@import "header";
@import "style";

#index{
    text-align: center;
}

.index_name{
    font-size: 55px;    
    margin: 35% auto 0 auto
}

.index_subtitle{
    font-size: 25px;
    margin: 5% auto 0 auto
}